
Databases/24661818/SR-Leg_ASC.zip
Databases/24661818/SR-Leg_ASC/DATA_SRC.txt
Databases/24661818/SR-Leg_ASC/DATSRCLN.txt
Databases/24661818/SR-Leg_ASC/DERIV_CD.txt
Databases/24661818/SR-Leg_ASC/FD_GROUP.txt
Databases/24661818/SR-Leg_ASC/FOOD_DES.txt
Databases/24661818/SR-Leg_ASC/FOOTNOTE.txt
Databases/24661818/SR-Leg_ASC/LANGDESC.txt
Databases/24661818/SR-Leg_ASC/LANGUAL.txt
Databases/24661818/SR-Leg_ASC/NUT_DATA.txt
Databases/24661818/SR-Leg_ASC/NUTR_DEF.txt
*.pdf
Databases/24661818/SR-Leg_ASC/SRC_CD.txt
Databases/24661818/SR-Leg_ASC/WEIGHT.txt
Databases/24661818/SR-Leg_DB.zip
GUI/Hello.txt
GUI/somefile.txt
*.pyc
.idea/misc.xml
.idea/misc.xml
Basics/build/lib/hello.py
